body {
  color: #222;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fefefe;
}

#container {
  max-width: 720px;
  margin: auto;
  padding: 2em;
}

.two-column {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .two-column {
    flex-direction: column;
  }
  .photo {
    width: 100%;
    object-fit: cover;
  }
}

.links {
  margin-top: 1em;
  display: flex;
  gap: 1em;
}

.subheading {
  font-size: 1.4em;
  font-weight: 400;
}

.photo {
  border-radius: 2px;
}

.project-container {
  margin-bottom: 1.6em;
}

.project-title {
  margin-bottom: 0;
}

.project-description {
  margin: 0;
}

.project-tools {
  margin-top: 2px;
  font-weight: 350;
}

.project-date {
  margin: 0;
  margin-left: 4px;
  font-weight: 400;
  font-size: 16px;
}

.section-title {
  margin-bottom: 0;
}
